body{
  background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/austin-texas-skyline-at-night-david-ilzhoefer.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  margin: 0;
  padding-bottom: 5rem;
  height: 200%;

}
.font{
  font-family:  "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
}
.projectFont{
  font-family: "Signika Negative", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
}
span{
  color: rgb(132, 132, 3);
}
header{
  display: flex;
  justify-content: space-around;
  background-color: rgba(251, 251, 9, 0.563);
}
#placeHolder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#buttonHolder{
  width: 15rem;
  display: flex;
  justify-content: space-around;
}
button{
  background-color: rgba(251, 251, 9, 0.421);
  border: none;
  border-radius: 3px;
  height: 2rem;
  box-shadow: 2px 2px;
  font-family:  "Exo 2", sans-serif;
}
button:hover{
  box-shadow: 3px 3px;
}
.holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 238, 238, 0.685);
  border: solid 1px rgb(251, 251, 9);
  height: 5rem;
  border-radius: 5px;
  padding: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  height: 8rem;
}
.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 238, 238, 0.859);
  border: solid 1px rgb(251, 251, 9);
  height: 9rem;
  width: 8rem;
  padding: 1rem;
  margin: 2rem;
  overflow-y: scroll;
  border-radius: 5px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 2rem; 
}
.projects::-webkit-scrollbar {
  display: none;
}
.projects:hover{
  box-shadow: 2px 5px rgba(251, 251, 9, 0.543);
}
#project2{
  position: relative;
  bottom:210px;
  transform:rotate(20deg);
  
}
#project3{
  position: relative;
  bottom:410px;
  transform:rotate(-20deg)
}
#project4{
  position: relative;
  bottom:630px;
  transform:rotate(-50deg)
}
@keyframes open1{
  0%{transform: scaleX(1);}
  100%{transform: scaleX(2);}
}
@keyframes open2{
  0%{bottom: 210px; transform: scaleX(1);transform:rotate(20deg)}
  100%{bottom: 0px;transform:rotate(0deg);transform: scaleX(2);}
}
@keyframes open3{
  0%{bottom:410px;transform: scaleX(1);transform:rotate(-20deg);}
  100%{bottom:0px;transform:rotate(0deg);transform: scaleX(2);}
}
@keyframes open4{
  0%{bottom:630px;transform: scaleX(1);transform:rotate(-50deg);}
  100%{bottom:0px;transform:rotate(0deg);transform: scaleX(2);}
}
@keyframes close1{
  0%{transform: scaleX(2);}
  100%{transform: scaleX(1);}
}
@keyframes close2{
  0%{bottom: 0px;transform:rotate(0);transform: scaleX(2);}
  100%{bottom: 210px;transform: scaleX(1);transform:rotate(20deg);}
}
@keyframes close3{
  0%{bottom:0px;transform:rotate(0);transform: scaleX(2);}
  100%{bottom:410px;transform: scaleX(1);transform:rotate(-20deg);}
}

@keyframes close4{
  0%{bottom:0px;transform:rotate(0);transform: scaleX(2);}
  100%{bottom:630px;transform: scaleX(1);transform:rotate(-50deg);}
}

@keyframes hover{
  0%{bottom:0px;transform:scaleX(1);}
  100%{bottom:0px;transform:scaleX(2);}
}
.p2{
  transform: scaleX(.70);
}
.openAnimation1{
  animation-name: open1;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
}
.openAnimation2{
  animation-name: open2;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
}
.openAnimation3{
  animation-name: open3;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
}
.openAnimation4{
  animation-name: open4;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
}
.closeAnimation1{
  animation-name: close1;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
}
.closeAnimation2{
  animation-name: close2;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
}
.closeAnimation3{
  animation-name: close3;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.closeAnimation4{
  animation-name: close4;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.p{
  animation-name: hover;
  animation-duration: 2;
  /* animation-fill-mode: forwards; */
 }
@media screen and (max-width:800px){
  body{
    background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/austin-texas-skyline-at-night-david-ilzhoefer.jpg);
    background-size: 1000px 3000px;
  }
  .font{
    font-family:  "Exo 2", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
  }
  body{
    background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/austin-texas-skyline-at-night-david-ilzhoefer.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0;
    padding-bottom: 20rem;
    height: 120%;
  }
}